*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
    scroll-behavior: smooth;
    
}

/* BODY********************************************************************************************** */ 

body{
    overflow-y:hidden;
}

/* WRAPPER*************************************************************************************** */

.wrapper{
    /* width:100vw; */   /*bcoz block element hai to automatically hoga*/
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* CONTAINER*********************************************************************************/

.container{
    width:90%;
    height:713px;
    margin:0 auto;
    /* border:1px solid rgb(214, 8, 8); */

}

/* NAV-BAR***************************************************************************************************************/

.nav-bar{
    width:90%;
    height:100px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    font-family: 'Hind', sans-serif;
    font-weight:bold;
}

/* LOGO-CONTAINER**************************************************************/

.logo-container{
    width:20%;
    height:80%;
    display:flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

}

/* LOGO-IMG******************************************************/

.logo-img{
    transition:width 150ms ease-in;
}
.logo-container:hover .logo-img{
    width:15%;
    height:100%;
}
.logo-container img{
    height:130%;
    width:20%;
    object-fit: cover;

}

/* LOGO-TEXT*****************************************************/
.logo-text{
    transition:font-size 200ms ease;
    font-size: 1.2rem;
}
.logo-container:hover .logo-text{
    font-size: 1.5rem;
}

/* NAV-ITEMS OR RIGHT CONTENT OF NAV-BAR****************************************/
.nav-items{
    width:32%;
    height:50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-weight:500;
}
/* NAV-ITEM-BOX*************************************************************/
.nav-item-box{
    text-align: center;
    transition: transform 500ms;
    width:30%;
    
}

/* .nav-item-box:hover  {  
    transform: scale(1.2);
} */


/* ANCHOR TAG IN NAV-ITEM-BOX************************************* */
.nav-items  a:link{
    text-decoration:none;
    color:black;
}
.nav-items  a:visited{
    text-decoration:underline;
    color:black;
}
.nav-item-box  a{
    font-size: 1.2rem;
}

/* .nav-item-box a{
     transition:1s;
} */
.nav-item-box:hover a .inside-a-i{
    transform: scale(1.2);
    font-weight:bolder;
}

.nav-items  a:active{
    color:red;
}
/* div inside anchor tags*/
.inside-a-i{
    
    font-size:1.2rem;
    transition:all 500ms ease;
    overflow:hidden;
}


/* HERO-SECTION **************************************************/
.hero-section{
    width:100%;
    height:600px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    font-family: 'Ysabeau Office', sans-serif;
    margin-top:30px;
}
/* HERO-SECTION-LEFT  ***************************************************/
.hero-section-left{
    width:58%;
    height:100%;
    display:flex;
    align-items: center;
    position: relative;
}
/* INNER-HERO-SECTION-LEFT ************************************************/
.inner-hero-section-left {
    width:100%;
    height:50%;
}
.inner-hero-section-left .one{
    font-size:3rem;
}
.inner-hero-section-left .two{
    font-size:3.4rem;
    display:flex;
    gap:10px;
}
.inner-hero-section-left .two .two-skills{
    color:blue;
    font-size:3.4rem;
}
.inner-hero-section-left .three{
    font-size:1.1rem;
    margin: 10px 0px 40px 0px;
    width:70%;
}
/* BUTTON  **************************************************/
.inner-hero-section-left button{
    cursor: pointer;
    width:20%;
    height:15%;
    font-size: 1rem;
    background-color: rgb(255, 47, 47);
    border:1px solid black;
    padding:0;
    position: relative;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 2px 3px 7px rgb(145, 145, 145);
}

.inner-hero-section-left  button .button-div{
    margin:0px;
    width:0%;
    height:100%;
    background-color: white;
    transition: 1s;
}
.inner-hero-section-left  button:hover .button-div{
    transition: width 500ms ease 0s;
    width:100%;
}
.inner-hero-section-left  button .button-text{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    font-size:1rem;
    font-family: 'Pacifico', cursive;
    color:white;
    font-size:1.3rem;

}
.inner-hero-section-left button .button-text .hire-icon{
    font-size:1.5rem;
}

.inner-hero-section-left  button .button-text img{
    width:30px;
    height:30px;
}
.inner-hero-section-left  button:hover .button-text{
    color:black;
}


.faded-name{
    position:absolute;
    bottom:-12px;
    user-select: none;
    font-size:6.5rem;
    color:rgb(231,231,231);
    font-weight:900;
}

/* HERO-SECTION-RIGHT ****************************************************/
.hero-section-right{
    width:35%;
    height:85%;
    position: relative;

}
/* USER-IMG *******************************************************/
.hero-section-right .user-img{
    width:100%;
    height:100%;
    /* margin:0 auto; */
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);

    animation-name:user-spring-motion;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction:alternate;
    animation-iteration-count :infinite;
    border-radius: 10px;
    overflow: visible;
    position: relative;
    
}

@keyframes user-spring-motion{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(0.86);
        box-shadow: 7px 7px 10px rgb(108, 106, 106);
    

    }
}


/* USER-IMG IMG  *************************************************/
.hero-section-right .user-img img{
    width:80%;
    height:90%;
    object-fit: cover;
    object-position: 0px 0px;
    border-radius: 10px;
}

/* IMAGE ELEMENT AND ANIMATION******************************************* */

.absolute{
    position: absolute;
}
.zig-zag{
    transition:transform 1s;
}
.shield-zig-zag{
    animation-name:zig-zag-motion;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction:alternate;
    animation-iteration-count :infinite;
    left:20px;
    top:10px;
    z-index:1;

}
@keyframes zig-zag-motion{
    0%{
       left:20px;
        top:10px;
    }
    100%{
        left:-10px;
       top:-5px;
      
        
    }
}
.shield-zig-zag{
    width:50px;
    height:90px;
}
.shield-zig-zag:hover .zig-zag{
    transform:rotateY(180deg);
}
.circle{
    animation-name:circle-motion;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-direction:alternate;
    animation-iteration-count :infinite;
    left:0%;
    bottom:0%;
    z-index:1;
}
@keyframes circle-motion{
    0%{
        left:0%;
        bottom:0%;
    }
    100%{
        left:4%;
        bottom:4%;
    }
}

.cube{
    animation-name:cube-motion;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
    animation-iteration-count :infinite;
    left:85%;
    top:1%;
    z-index:1;
}

@keyframes cube-motion{
    0%{
        /* transform: rotateY(0deg); */
        top:-2%;
    }
    100%{
        transform: rotateY(180deg);
        top:2%;
       
    }
}
.dot{
    animation-name:dot-motion;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
    animation-iteration-count :infinite;
    right:-50px;
    bottom:5px;
    width:130px;
    z-index:1;
}

@keyframes dot-motion{
    0%{
        /* transform: rotateY(0deg); */
        bottom:20px;
    }
    100%{
        /* transform: rotateY(180deg); */
        bottom:-20px;
       
    }
}
.plus{
    animation-name:plus-motion;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
    animation-iteration-count :infinite;
    left:200px;
    top:0px;
    z-index:1;
}

@keyframes plus-motion{
    0%{
        /* transform: rotateY(0deg); */
        top:-5px;
    }
    100%{
        /* transform: rotateY(180deg); */
        top:10px;
       
    }
}

/* **************************************************************************************************** */
.project-section{
    background-color: rgb(231,231,231);
    display:flex;
    justify-content: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.project-container{
    width:80%;
}
.project-heading{
    text-align: center;
    font-size: 6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    color:#e84949;
    padding: 100px auto;
    font-weight: bolder;
    user-select: none;
    margin-top: 50px;;
}
.project-1{
    width:90%;
    height:530px;
    position: relative;
    top:0px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.contain-project-1-img{
    position: relative;
    width:95%;
    height:525px;
    overflow:hidden;
    border-radius: 20px;
   
}

.project-1 img{
    /* object-fit: cover; */
    width:100%; 
    filter:brightness(50%);

}

.small-icons{
    width:10px;
}
.project-1-content{
    position: absolute;
    top:20%;
    left:10%;
    color:white;
    transition: transform 300ms ease;
    z-index:2;
    filter:brightness(140%);
}
.card-img-1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    align-items: stretch;
    width: 30%;
}
.project-1-content  img{
    width:45px;
   
}
.read-more{
    display:inline-block;
    margin:40px 0;
    width:200px;
    height:55px;
}
.read-more button{
    cursor: pointer;
    width:100%;
    height:100%;
    font-size: 1rem;
    background-color: rgb(255, 47, 47);
    border:1px solid black;
    padding:0;
    position: relative;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 2px 3px 7px rgb(145, 145, 145);
}
.read-more  button .button-div{
    margin:0px;
    width:0%;
    height:100%;
    background-color: white;
    transition: 1s;
}
.read-more  button:hover .button-div{
    transition: width 500ms ease 0s;
    width:100%;
}
.read-more  button .button-text{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    font-family: 'Pacifico', cursive;
    color:white;
    font-size:1.2rem;
    font-weight: 500;
    
}
.read-more  button .button-text .fa-solid{
    font-size:1.4rem;
}
.flex-button-links{
    display:flex;
    align-items: center;
    gap:15px;
    
}
.git-links .github, .git-links .link{
    font-size:2rem;
    transition: all 400ms ease-in-out;
}
.git-links .github:hover, .git-links .link:hover{
    color:rgb(255, 47, 47);
    transform:scale(1.1);
}
.project-1-content .card-head{
    font-size:2.5rem;
    margin-top:20px;
    font-weight:bolder;
}
.project-1-content .card-para{
    margin-top: 10px;
    font-weight:200;
    width:80%;
}
.read-more  button:hover .button-text{
    color:black;
}

.contain-project-1-img .card-cover{
    width:0%;
    height:100%;
    position:absolute;
    background-color: rgb(63, 55, 124);
    opacity: 0.6;
    z-index: 1;
    transition:width 400ms ease;
    border-radius: 20px;
}
.project-1:hover .project-1-content{
    transform:scale(1.08);
}

.project-1:hover .card-cover{
    width:100%;
   
}

.project-2{
    width:90%;
    height:530px;
    position: relative;
    top:0px;
    right:0px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left:auto;
    margin-right:0px;
}
.contain-project-2-img{
    position: relative;
    width:95%;
    height:525px;
    overflow:hidden;
    border-radius: 20px;
    margin-left:auto;
    margin-right:0px;
   
}

.project-2 img{
    /* object-fit: cover; */
    width:100%; 
    filter:brightness(50%);

}

.small-icons{
    width:10px;
}
.project-2-content{
    position: absolute;
    top:20%;
    left:10%;
    color:white;
    transition: transform 300ms ease;
    z-index:2;
    filter:brightness(140%);
}
.project-2-content  img{
    width:45px;
   
}
.read-more{
    margin-top: 40px;
    width:200px;
    height:55px;
}
.read-more button{
    cursor: pointer;
    width:100%;
    height:100%;
    font-size: 1rem;
    background-color: rgb(255, 47, 47);
    border:1px solid black;
    padding:0;
    position: relative;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 2px 3px 7px rgb(145, 145, 145);
}
.read-more  button .button-div{
    margin:0px;
    width:0%;
    height:100%;
    background-color: white;
    transition: 1s;
}
.read-more  button:hover .button-div{
    transition: width 500ms ease 0s;
    width:100%;
}
.read-more  button .button-text{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    font-size:1rem;
    font-family: 'Pacifico', cursive;
    color:white;
    font-size:1.2rem;

}

.project-2-content .card-head{
    font-size:2.5rem;
    margin-top:20px;
    font-weight:bolder;
}
.project-2-content .card-para{
    margin-top: 10px;
    font-weight: light;
    width:80%;
}
.read-more  button:hover .button-text{
    color:black;
}

.contain-project-2-img .card-cover{
    width:0%;
    height:100%;
    margin-left:auto;
    position:absolute;
    right:0px;
    background-color: rgb(63, 55, 124);
    opacity: 0.6;
    z-index: 1;
    transition:width 450ms ease;
    border-radius: 20px;
}
.project-2:hover .project-2-content{
    transform:scale(1.08);
}

.project-2:hover .card-cover{
    width:100%;
   
}

.count{
    position:absolute;
    z-index:2;
    color:white;
    width:10%;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight:900;
    font-size: 5rem;
    /* transition: transform 500ms ease; */
    
}
.project-1:hover .count ,.project-2:hover .count{
    animation-name:count-motion;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count :infinite;
}
@keyframes count-motion{
    0%{
        transform:scale(1);
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform:scale(1.3);
    }
}

.project-1 .count{
    right:60px;
    /* transform:scale(1.3); */
    opacity:0;
}
.project-2 .count{
    opacity:0;
    left:80px;
    /* transform:scale(1.3); */
}

/* skill section *************************************************************************************** */
.skill-section{
    height:760px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.skill-container{
    width:90%;
    height:90%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* margin:0 auto; */
    font-family: 'Be Vietnam Pro', sans-serif;
    
}
.skill-left{
    position:relative;
    width:45%;
    height:80%;
}

.skill-left-heading-1{
    font-size:5.5rem;
    color:#e84949;
    font-weight:500;

}
.skill-left-heading-2{
    font-size:3.5rem;
    color:#e84949;
    font-weight:500;
}
.combo-one-two{
    display:flex;
    align-items: baseline;
    height:100px;
    /* width:300px; */
    margin-bottom:60px;
}
.skill-left-heading-3{
    position: absolute;
    font-size:3.5rem;
    color:#e84949;
    font-weight:500;
    top:90px;
}
.main-content-skill-left{
    width:85%;
    height:50%;
    margin-top:70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
}
.skill-right{
    width:45%;
    height:75%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:20px;
}
.skill-right img{
    width:100%;
    height: 100%;
    justify-items: center;
    align-items: stretch;
    
    
}
.skill-right-img-hover{
    transition:transform 1s ease;
}
.skill-right-img-hover:hover{
    transform:scale(1.3);
}

.faded-skill{
        position: absolute;
        bottom:-35px;
        right:10%;
        user-select: none;
        font-size:8rem;
        color:rgb(231,231,231);
        font-weight:900;
        font-family: 'Ysabeau Office', sans-serif;
}
.contact-me-section{
    background: rgb(231,231,231);
    height:100vh;
}




/* media quiery */
